/*FLEX*/
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-reverse {
    flex-direction: row-reverse;
}

/*BUTTONS*/
.app-btn:hover{
    font-weight: bold;
    cursor: pointer;
}

/*TEXT*/
.text-right{
    text-align: right ;
}

/*MODAL*/
.screen{
    height: 100vh;
    width: 100vw;
    background-color: #bbb;
    position: fixed;
    top:0;
    opacity:0.6;
}

.hidden{
    opacity:0;
}
