/*FLEX*/
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
/*BUTTONS*/
.app-btn:hover{
    font-weight: bold;
    cursor: pointer;
}
/*TEXT*/
.text-right{
    text-align: right ;
}