.app {
    min-height: 100vh;
}

.main-container {
    flex-grow: 1;
}

footer {
    background-color: #999;
}

nav {
    margin-bottom: 25px;
    background-color: orange;
}

nav a {
    background-color: rgba(255, 0, 212, 0.75);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

/* LEFT NAV     */

.left-bar {
    min-width: 150px;
}

/* EMAIL LIST     */

.email-list {
    flex-grow: 1;
}

.filter-text {
    margin-left: 20px;
}

/* EMAIL PREVIEW  */

/*email container*/

.email-preview {
    margin: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.email-preview .bold {
    font-weight: bold;
}

/*subject*/

.email-preview h3 {
    font-size: 18px;
    margin: 0;
}

.email-subject {
    margin-left: 25px;
}

/*sender name*/

.email-preview h4 {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

/*sender email*/

.email-preview h4 span {
    font-size: 12px;
    margin-left: 15px;
    color: gray;
}

/*email body*/

.email-preview p {
    font-size: 12px;
    margin-left: 15px;
}

/* EMAIL CREATE  */

.email-create {
    flex-grow: 1;
}

.email-create-header {
    background-color: gray;
    color: white;
}

/* EMAIL DETAILS  */

.email-details {}

/* Appsus Home  */

.appsus-home {
    text-align: center;
    font-size: 28px;
}

.appsus-home img {
    margin-top: 50px;
    width: 100px;
    height: 100px;
}