@font-face {
    font-family: "Tangerine-Regular";
    src: url("/fonts/Tangerine/Tangerine-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

.app {
    min-height: 100vh;
}

/* Appsus Home  */

.appsus-home {
    text-align: center;
    font-family: 'Tangerine-Regular', serif;
    font-size: 60px;
    text-shadow: 4px 4px 4px #aaa;
}

.appsus-home div {
    margin: 0;
}

.appsus-home img {
    margin-top: 50px;
    height: 70vh;
    margin: 0;
}

.main-container {
    display: flex;
    flex-grow: 1;
}

/*box image - main page*/

.main-app-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 40px;
    margin-left: 40px;
    cursor: pointer;
}

.app-link-container img {
    width: 45px;
    height: 45px;
}

/* taking the container outside the upper orange strip*/

.app-link-container {
    width: 250px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    margin-bottom: -140px;
    margin-top: 42px;
    margin-right: -124px;
    border-radius: 4px;
    border: 1px solid #999;
    z-index: 1;
}

footer {
    background-color: #999;
}

nav {
    margin-bottom: 0px;
    background-color: orange;
    padding-bottom: 5px;
    padding-top: 5px;
}

nav a {
    /* background-color: rgba(255, 0, 212, 0.75); */
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

/* LEFT NAV     */

.left-bar {
    min-width: 180px;
    background-color: orange;
}

.left-bar .menu-item {
    color: white;
    font-weight: bold;
    padding: 2px 15px;
    display: block;
}

.left-bar .menu-item:hover {
    background-color: bisque;
    border-radius: 0 30% 30% 0;
    color: green;
}

/*          EMAIL APP           */

.email-app {
    flex-grow: 1;
}

/* EMAIL LIST     */

.email-list {
    flex-grow: 1;
}

.filter-text {
    margin-left: 20px;
}

/* EMAIL FILTER  */

.email-filter {
    margin: 20px;
    /* border:1px solid black; */
}

.email-filter .filterByRead {
    height: 35px;
    margin-top: 5px;
}

.email-filter .sorter {
    height: 35px;
    margin-top: 5px;
}

/* EMAIL PREVIEW  */

.handlers>i {
    margin-right: 30px;
}

.fa.fa-reply:hover {
    color: blue;
    box-shadow: 8px 8px 8px orange;
}

.fa.fa-expand:hover {
    color: blue;
    box-shadow: 8px 8px 8px orange;
}

.fa.fa-trash-o:hover {
    color: blue;
    box-shadow: 8px 8px 8px orange;
}

.fa.fa-envelope-o:hover {
    color: blue;
    box-shadow: 8px 8px 8px orange;
}

.fa.fa-envelope-open-o:hover {
    color: blue;
    box-shadow: 8px 8px 8px orange;
}

/*email container*/

.email-preview {
    /* margin: 20px; */
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid gray;
    padding: 0 25px;
}

.email-preview:hover {
    /* outline:1px solid black; */
    box-shadow: 10px 10px 8px #888888;
}

.email-preview .bold {
    font-weight: bold;
}

/*subject*/

.email-preview h3 {
    font-size: 18px;
    margin: 0;
}

.email-subject {
    margin-left: 25px;
}

/*sender name*/

.email-preview h4 {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

/*sender email*/

.email-preview h4 span {
    font-size: 12px;
    margin-left: 15px;
    color: gray;
}

/*email body*/

.email-preview p {
    font-size: 12px;
    margin-left: 15px;
}

/* EMAIL CREATE  */

.email-create {
    flex-grow: 1
}

.email-create-header {
    background-color: gray;
    color: white;
}

.email-to {
    margin-top: 5px;
}

.email-to input {
    flex-grow: 1;
    border: 0px solid transparent;
    background-color: rgba(0, 0, 0, 0.05);
    margin-left: 15px;
}

.email-create .subject {
    display: inline-block;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
}

.email-create textarea {
    width: 100%;
    margin-top: 5px;
    height: 60vh;
}

/* EMAIL DETAILS  */

.email-details {
    margin: 25px;
}

/* EMAIL INDICATOR  */

.email-indicator {
    font-size: 22px;
    font-weight: bold;
    color: greenyellow;
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    padding: 6px 15px;
    background-color: darkolivegreen;
}

.email-indicator .emails-read {
    font-size: 12px;
    color: white;
    border: 2px solid black;
    border-radius: 50%;
    height: 20px;
    padding: 0px 5px 0px 5px;
    background-color: red;
    position: absolute;
    bottom: 2px;
    left: -8px;
}