.note-list ul.pinned, .note-list ul.unpinned{
    column-count:1; 
}
.note-list ul.pinned{
    margin-bottom: 10px;
}
.note-wrapper{
    break-inside: avoid;/*for css columns*/
    margin: 20px 0;
}
.note-wrapper{
    border: 1px solid #dadce0;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.note-content{
    position: relative;
}
.note-container .buttons-container{
    opacity: 0;
    transition: opacity 0.3s;
}
.note-container .check{
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top:0;
    z-index: 1;
}
.note-content .pin{
    width: 30px;
    height: 30px;
    display:inline-block;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    background-image: url('../img/pin.svg');
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
    outline: 0;
    opacity: 0;
    transition: opacity 0.3s;
}
.note-content .pin.pinned{
    background-image: url('../img/pin-pinned.svg');
}
.note-container:hover .note-editable, 
.note-container:hover .fa-map-pin:before,
.note-container:hover .pin{
    opacity: 1;
}
.note-container img{
    width:100%;
    border-radius: 10px;
}
.note-todo,
.note-txt{
    padding:15px 15px 0 15px;
}

@media(min-width: 500px){
    .note-list ul.pinned, .note-list ul.unpinned{
        column-count:2; 
    }
}
@media(min-width: 680px){
    .note-list ul.pinned, .note-list ul.unpinned{
        column-count:3  ; 
    }
}


/*NOTE EDIT / ADD*/
.note-edit{
    border: 1px solid #dadce0;
    border-radius: 10px;
    color: #80868b;
    padding: 10px;
    width: 90%;
    margin: auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.23);
    margin: 40px auto;
}
.note-place-holder{

}
.note-place-holder button{
    display: inline-block;
    margin: 0 16px;
}
.btn-note{
    color: inherit;
    border: none;
    background: none;
    font-size: 1.5rem;
    padding: 0;
}
.btn-note:hover{
    font-weight: bold;
    color: black;
}